.reset-wrapper {
  background-color: #000;
  min-height: 100vh;
  padding-top: 5rem;
}


.reset-container {
  background-color: #111;
  color: #ffa64d;
  padding: 2rem;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
  text-align: center;
}

.reset-container input {
  display: block;
  margin: 1rem auto;
  padding: 0.7rem;
  width: 100%;
  border: none;
  border-radius: 4px;
}

.reset-container button {
  background-color: #ffa64d;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;

}


.status {
  margin-top: 1rem;
}

 